.about_me {
    margin: 25px 0 0 0;
    width: 100%;
    height: 760px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    .photo_me {
        background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Altja_j%C3%B5gi_Lahemaal.jpg/800px-Altja_j%C3%B5gi_Lahemaal.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 40%;
        height: 100%;
    }
    .about_txt {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .center {
            margin: 0 auto;
            .large_txt {
                color: rgba(20, 20, 20, 1);
                font-size: 48px;
                font-weight: 500;
            }
            .norm_txt {
                color: rgba(20, 20, 20, 1);
                font-size: 24px;
            }
            .link {
                width: 50px;
                height: 50px;
                border-radius: 10px;
                border: 2px solid rgba(20, 20, 20, 1);
                display: inline-flex;
                flex-direction: row;
                align-items: center;
                margin: 30px 5px 0 5px;
                .icon {
                    margin: 0 auto;
                    width: 22px;
                    height: 22px;
                }
            }
        }
    }
}